.services_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
  position: relative;
}


.service_card {
  background-color: var(--main-color);
  width: 100%;
  padding: 20px;
  border: 2px solid var(--main-color-darker);
  border-radius: 10px;
  
}

.service_card p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: white;
}

.service_card p span:nth-child(1) {
  color: white;
  font-weight: bolder;
}

.service_card p span:nth-child(2) {
  color: rgba(255, 255, 255, 0.676);
}
/* .services_container {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  z-index: 0;
}

.service_card {
  background-color: white;
  padding: 10px;
  min-height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00000033;
  text-align: center;
  font-weight: bold;
  position: relative;
  line-height: 1.1rem;
  border: 1px solid var(--main-color);
}

.service_card span {
  background-color: var(--main-color);
  color: white;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 10px;
} */
