#app {
  width: 100%;
  height: 100%;
  gap: 5px;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

a {
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  /* min-width: 100px; */
  font-size: 1.2rem;
  background-color: #129a44;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 3rem;
}

.hero {
  color: black;
  padding: 10px;
  text-align: center;
}

.hero p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.hero a {
  margin-top: 20px;
}

.header_btn_more {
  border: 2px solid var(--text-body-color);;
  background-color: transparent;
  color: var(--text-body-color);
}

.section-title {
  text-align: center;
  padding: 5px;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
}

footer h2 {
  color: white;
}


.cp_clip {
  position: fixed;
  top: -200px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  line-height: normal;
  background-color: #129a44;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 20px;
  color: var(--text-main-color);
  z-index: 100;
  box-shadow: 0 0 20px #0000004c;
  transition: 0.3s;
}

.cp_active {
  top: 20px;

}


@media (max-width: 500px) {
  #app {
    scroll-snap-type: y mandatory;
  }
}
