:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #35a835;
  --text-main-color: #fff;

  --body-color: white;
  --text-body-color: #000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: auto;
  background-color: var(--body-color);
}

body::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: black; */
}

html {
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-spa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-spe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-spb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g-5 {
  gap: 5px;
}
.g-10 {
  gap: 10px;
}
.g-20 {
  gap: 20px;
}

.g-40 {
  gap: 40px;
}

#root {
  position: relative;
  width: 100vw;
}

.col {
  flex-direction: column;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  padding: 10px;
}

.no-scroll {
  overflow: hidden;
}


h1,
h2,
h3,
h4,
p {
  color: var(--text-body-color);
}

.button {
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: white;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: 0 0 20px #00000033;
}
