#services {
  /* background-color: r; */
  /* position: relative; */
  /* background: linear-gradient(45deg, #c3f8ff, #69ff9e); */
}

.services_container {
  /* background-color: red; */
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  z-index: 0;
}

.service_card {
  background-color: white;
  padding: 10px;
  min-height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00000033;
  text-align: center;
  font-weight: bold;
  position: relative;
  line-height: 1.1rem;
  border: 1px solid var(--main-color);
}

.service_card span {
  background-color: var(--main-color);
  color: white;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 10px;
}
